.giti{
    
    display: grid;
    background-color: grey;
    grid-template-areas:
    "header header article"
    "header header  ads"
    "nav ads footer";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 150px 100px ;
    /* grid-column-gap: 5px;
    grid-row-gap: 5px; */

}
.rgb-red{
   background-color:red ;
   grid-area: header ;
   
}
.rgb-green{
    background-color:green ;
    grid-area:ads;
}

.rgb-blue{
    background-color: blue;
    grid-area: footer ;
}

.rgb-yellow{
    background-color: yellow;
    grid-area: nav ;
}

.rgb-cyan{
    background-color: darkcyan;
     grid-area: article ;
}

.rgb-black{
    background-color: black;
    grid-area: article ;
}