body{
margin: 0px;
padding: 0px;
background-color: lightsteelblue
}
.wraper{
    width: 960px;
    border: solid 2px black;
    margin: 0 auto;
}


.header-image{
     width: 100%;
     height: 530px;

    background-image: url(../img/shreks.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    
    border-bottom: solid 2px black;

position: relative;
}
.header-Text{

text-align: center;
padding-top: 150px;


}

.menu{
display: flex;
justify-content: space-around;
border-bottom: solid 2px black;

}
.content{
    display: flex;
    border-bottom: solid 2px black;
}

.left-content{

     display: flex;
     flex-direction: column;
     width: 200px;
}
.center-content{

    display: flex;
    flex-direction: column;
    width: 520px;
    border-left: solid 2px black;
    border-right: solid 2px black;
}
.right-content{
    display: flex;
    flex-direction: column;
    width: 240px;
}
.footer{
    display: flex;
}
.left-footer{
    width: 722px;
    border-right: solid 2px black;
    font-weight: 700;
}
.right-footer{
width: 240px;
text-align: right;
}