body{
    margin: 0px;
    padding: 0px;

    background-color: darkcyan;

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

div{
    margin-bottom: 10px;
}

input{
    font-size: 20px;
    width: 100%;
    box-sizing: border-box;
}

button{
    font-size: 20px;
    width: 100%;
    box-sizing: border-box;
}
.center-text{
    text-align: center;
}