.first{
 

}
.second{
   
    width: 200px;
    height: 200px;
    border: 2px solid blue;
    margin: 200px;
}
.third{
    border: 2px solid red;
    width: 200px;
    height: 200px;
   margin: 200px;

  
}
.fourt{
    width: 200px;
    height: 200px;
    border: 2px solid yellow;
    margin: 200px;
  
}