.first{
    background-color: darkred;
    height: 200px;
    width: 200px;

    position: fixed;
    left:80px;
    top:50px;
}
.second{
    background-color: darkcyan;
    height: 900px;
    width: 200px;
}
.third{
    background-color: black;
    height: 900px;
    width: 200px;
}